<style type="text/css">
#main_div {
	width: 80%; 
	height: 85%; 
	margin: 0 auto; 
	background-color:white;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#inner {
	width: 30%; 
	height: 50%; 
	margin: 0 auto; 
	background-color: #299cbc;
}

</style>

<div style="width: 80%; height: 10%; margin: 0 auto; background-color:Yellow; padding-top:10px; padding-left:20px">
	<input type="button" onclick="location.href='paige';" value="find a new show" />
	<input type="button" onclick="location.href='login';" value="login" />
</div>

<div id="main_div">
	<center>
	<div id="inner" style="padding-top:20px;">
		<div style="margin: auto 0;">
			<h2>Sign Up</h2>
		</div>
		<form action="/action_page.php">
	  		Email:<br>
  		<input type="text" name="" value="">
  		<br>
  			Username:<br>
  		<input type="text" name="" value="">
  		<br>
  			Password:<br>
  		<input type="password" name="" value="">
  		<br>
  			Confirm Password:<br>
  		<input type="password" name="" value="">
  		<br><br>
  			<input type="submit" value="Submit">
		</form> 
	</div>
	</center>
</div>