{{include 'web2py_ajax.html'}}
<link href="{{=URL('static', 'css/layout.css')}}" rel="stylesheet" type="text/css" />


{{include 'header.html'}}
	
<!-- BODY -->
<div id="main_div">

	<form action="search_index" method="POST">
		<fieldset>
			<input type="text" placeholder="Search..." name="search">
    		<input type="submit" value="search">
    	</fieldset>
	</form>
		
	<script>
		var url = window.location.href
		if(url.endsWith('/index')){
			window.location.href = url + '?starts_with=a'
		}
	</script>
	
	<!-- Letters a-z -->
	{{for letter in range(65,91):}}
		<div style="width:3%; float:left;">
			<p onclick="location.href='index?starts_with={{=chr(letter)}}';">
				{{=chr(letter)}}
			</p>
		</div>	
	{{pass}}

	<!-- LIST -->
	{{val=0}}
	{{for item in message[0]:}}
		<div id="box1" onclick="location.href='viewer?id={{=message[1][val]}}'">
			<div id="inner">
				<div id="description">
					<p style="font-family:'Comic Sans MS', cursive, sans-serif">{{=message[0][val]}}</p>
				</div>
			</div>
		</div>
		{{val = val+1}}
	{{pass}}
	
</div>