<!DOCTYPE html>

{{if 'message' in globals():}}
<h2>{{=message}}</h2>

<h2>This is an h2</h2>

<p>this is a p<p>

<ol>
	<li>this is an li</li>
	<li>still li</li>
	<li>last li</li>
</ol>

<div style="border-style:solid">
	<p>this is a div with a p inside</p>
</div>

<center style="padding:50px">
  <a class="btn btn-primary" href="{{=URL('admin','default','index')}}">
    <i class="glyphicon glyphicon-cog"></i>
    {{=T("admin")}}
  </a>
  <a class="btn btn-secondary" href="{{=URL('examples','default','index')}}">{{=T("Online examples")}}</a>
  <a class="btn btn-secondary" href="http://web2py.com">web2py.com</a>
  <a class="btn btn-secondary" href="http://web2py.com/book">{{=T('Documentation')}}</a>
  <a class="btn btn-secondary" href="{{=URL('default','api_get_user_email')}}">{{=T('API Example')}}</a>
  <a class="btn btn-secondary" href="{{=URL('default','grid/auth_user')}}">{{=T('Grid Example')}}</a>
  <a class="btn btn-secondary" href="{{=URL('default','wiki')}}">{{=T('Wiki Example')}}</a>
</center>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}



