{{include 'web2py_ajax.html'}}

<style>
body { 
	background-color: #606060
}
</style>


<style type="text/css">
#main_div {
	width: 80%; 
	height: 85%; 
	margin: 0 auto; 
	background-color:white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	overflow:scroll;
}
#box1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
	width: 27%; 
	height: 10%;	
	float: left;
}
#inner {
	width: 90%; 
	height: 90%; 
	margin: auto auto; 
	background-color: Red;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
#description {
	width: 90%; 
	
	margin: 0 auto; 
	background-color: Green;
	border: solid;
	text-align:center;
}
</style>

<!-- HEADER -->
<div style="width: 80%; height: 10%; margin: 0 auto; background-color:Yellow; padding-top:10px; padding-left:20px">
	<input type="button" onclick="location.href='paige'" value="find a new show" />
	<input type="button" onclick="location.href='sign_up'" value="sign up/login" />
	
	{{if session.logged_in_user is '':}}
		<p>login to view your profile</p>
	{{else:}}
		<input type="button" onclick="location.href='profile'" value="Profile" />
	{{pass}}
	
</div>
	
<!-- BODY -->
<div id="main_div">

	<form action="search_index" method="POST">
		<fieldset>
			<input type="text" placeholder="Search..." name="search">
    		<input type="submit" value="search">
    	</fieldset>
	</form>
	
	<!-- Letters a-z -->
	<script>
		var url = window.location.href
		if(url.endsWith('/index')){
			window.location.href = url + '?starts_with=a'
		}
	</script>
	
	{{for letter in range(97,123):}}
		<div style="width:3%; float:left;">
			<p onclick="location.href='index?starts_with={{=chr(letter)}}';">
				{{=chr(letter)}}
			</p>
		</div>	
	{{pass}}

	<!-- LIST -->
	{{val=0}}
	{{for item in message[0]:}}
		<div id="box1" onclick="location.href='viewer?id={{=message[1][val]}}'">
			<div id="inner">
				<!--div style="border:solid; height:60%; width:90%; margin: 0 auto;">
					<img style="width:100%; height:100%;" src=""/>
				</div-->
				<div id="description">
					<p style="font-family:'Comic Sans MS', cursive, sans-serif">{{=message[0][val]}}</p>
					<!--p style="font-family:'Comic Sans MS', cursive, sans-serif"># of episodes: </p>
					<progress value="22" max="100"></progress-->
				</div>
			</div>
		</div>
		{{val = val+1}}
	{{pass}}
	
</div>