{{include 'web2py_ajax.html'}}

<link href="{{=URL('static', 'css/layout.css')}}" rel="stylesheet" type="text/css" />

{{include 'header.html'}}

<div id="main_div">
	<div style="font-family: 'Bree Serif', serif; font-size:18px">
		<p>{{=session.logged_in_user}} is watching:</p>
	</div>
	{{val=0}}
	{{for item in message[0]:}}
		<div id="box1" style="width: 27%; height:50%">
			<div id="inner">
				<div id="description">id: {{=item}}</div>
				<div id="description">{{=message[1][val]}}</div>
				<div id="description">
					<p>Watched {{=message[4][val]}} of {{=message[3][val]}} episodes: </p>
					<progress value="{{=message[4][val]}}" max="{{=message[3][val]}}"></progress>
				</div>
				<div id="description">
					<button onclick="location.href='update_current_ep?id={{=item}}&num=-1'">Prev</button>
					<button onclick="location.href='update_current_ep?id={{=item}}&num=1'">Next</button>
				</div>
				<div id="description" style="height:65%">
					<img id="img" src="{{=message[2][val]}}" style="min-height:100%">
				</div>
				
				<div id="description">
					<button onclick="location.href='remove_from_watch_list?id={{=item}}'">Remove</button>
				</div>
			</div>		
		</div>
	  	{{val = val+1}}
	{{pass}}
	
</div>