<style>
body { 
	background-color: #606060
}
</style>

<style type="text/css">
#main_div {
	width: 80%; 
	height: 85%; 
	margin: 0 auto; 
	background-color:white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#inner {	
	background-color: #299cbc;
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
	width: 27%; 
	height: 30%;	
	float: left;
}

</style>

<div style="width: 80%; height: 10%; margin: 0 auto; background-color:Yellow; padding-top:10px; padding-left:20px">
	<input type="button" onclick="location.href='paige';" value="find a new show" />
	<input type="button" onclick="location.href='login';" value="login" />
</div>

<div id="main_div">

	<!-- Sign up div -->
	<div id="inner">
		<div>
			<h2>Sign Up</h2>
		</div>
		<form action="submit_sign_up">
			<fieldset>
				<p>
					<label>Username</label>
					<input type="text" name="username" placeholder=".....">
				</p>
				<p>
					<input type="submit" value="Submit">
				</p>
			</fieldset>
		</form>
	</div>
	
	<!-- Login Div -->
	<div id="inner">
		<div>
			<h2>Login</h2>
		</div>
		<form action="submit_login">
			<fieldset>
				<p>
					<label>Username</label>
					<input type="text" name="username" placeholder=".....">
				</p>
				<p>
					<input type="submit" value="Submit">
				</p>
			</fieldset>
		</form>
	</div>
</div>