<link href="{{=URL('static', 'css/layout.css')}}" rel="stylesheet" type="text/css" />




<!--div style="width: 80%; height: 10%; margin: 0 auto; background-color:Yellow; padding-top:10px; padding-left:20px">
	<input type="button" onclick="location.href='paige';" value="find a new show" />
	<input type="button" onclick="location.href='login';" value="login" />
</div-->

{{include 'header.html'}}

<div id="main_div">

	<!-- Sign up div -->
	<div id="inner" style="width: 27%; height: 30%;">
		<div>
			<h2>Sign Up/Log in</h2>
		</div>
		<form action="submit_sign_up" method="POST">
			<fieldset>
				<p>
					<label>Username</label>
					<input type="text" name="username" placeholder=".....">
				</p>
				<p>
					<input type="submit" value="Submit">
				</p>
			</fieldset>
		</form>
	</div>
	
</div>