<link href="{{=URL('static', 'css/layout.css')}}" rel="stylesheet" type="text/css" />


<meta name="viewport" content="width=device-width, initial-scale=1">

{{include 'header.html'}}

<div id="main_div">
	<div id="inner">
		{{if message[2] != '':}}
		<div id="photo" style="background-color:#313638; text-align:center">
		
			<!-- display image -->
			<img style="min-height:100%; max-width:100%; margin: auto;" src="{{=message[2]}}">
		
		</div>
		{{pass}}
	
		<!-- title & summary -->
		<div id="photo" style="background-color:#E8E9EB;">
	
			<p style="font-weight:bold;">{{=message[0]}}</p>
			<p>{{=message[1]}}</p>
			{{if message[4] is not '':}}
				<p>{{=message[4]}} episodes</p>
			{{pass}}
			<button onclick="location.href='youtube_trailer?title={{=message[0]}}'">Watch Trailer</button>
		
			{{if session.logged_in_user is '' or session.logged_in_user is None:}}
				<p style="font-weight:bold;">Login to add to your list</p>
			{{else:}}
				<button onclick="location.href='add_to_watch_list?title={{=message[0]}}&photo={{=message[2]}}&id={{=message[3]}}&ep={{=message[4]}}'">{{=session.logged_in_user}}: Add to watch list</button>
			{{pass}}
		</div>
	</div>	
</div>


