
<!-- HEADER -->
<div style="width: 80%; height: 10%; margin: 0 auto; background-color:#F06543; padding-top:10px; padding-left:20px">
	<input type="button" onclick="location.href='index'" value="find a new show" />
	<input type="button" onclick="location.href='sign_up'" value="sign up/login" />
	
	{{if session.logged_in_user is '' or session.logged_in_user is None:}}
		<p>login to view your profile</p>
	{{else:}}
		<input type="button" onclick="location.href='profile'" value="Profile" />
	{{pass}}
	
</div>